@tailwind base;
@tailwind components;
@tailwind utilities;



.btn-main {
  @apply w-full py-3 rounded-xl font-semibold mb-3;
  background: linear-gradient(90deg,#ff4ecd,#ff9f43);
}

.btn-outline {
  @apply w-full py-3 border border-gray-700 rounded-xl mb-3;
}

.input {
  @apply w-full bg-[#111] border border-gray-700 px-4 py-3 rounded-xl mb-6 outline-none;
}

.title {
  @apply text-2xl font-bold text-center mb-6;
}

.otp {
  @apply w-12 h-12 text-center bg-[#111] border border-gray-700 rounded-lg text-xl;
}



/* Animation for Outer Ring (6 Avatars) */
@keyframes orbit-outer {
  0%, 100% {
    transform: rotate(var(--angle)) translate(150px) rotate(calc(var(--angle) * -1));
  }
  25% {
    transform: rotate(calc(var(--angle) - 40deg)) translate(180px) rotate(calc((var(--angle) - 40deg) * -1));
  }
  50% {
    transform: rotate(var(--angle)) translate(150px) rotate(calc(var(--angle) * -1));
  }
  75% {
    transform: rotate(calc(var(--angle) + 40deg)) translate(180px) rotate(calc((var(--angle) + 40deg) * -1));
  }
}

/* Animation for Inner Ring Edge (2 Avatars - Half in/Half out) */
@keyframes orbit-inner {
  0%, 100% {
    transform: rotate(var(--angle)) translate(96px) rotate(calc(var(--angle) * -1));
  }
  25% {
    transform: rotate(calc(var(--angle) - 40deg)) translate(110px) rotate(calc((var(--angle) - 40deg) * -1));
  }
  50% {
    transform: rotate(var(--angle)) translate(96px) rotate(calc(var(--angle) * -1));
  }
  75% {
    transform: rotate(calc(var(--angle) + 40deg)) translate(110px) rotate(calc((var(--angle) + 40deg) * -1));
  }
}

.animate-orbit-outer {
  animation: orbit-outer 7s ease-in-out infinite;
}

.animate-orbit-inner {
  animation: orbit-inner 7s ease-in-out infinite;
}






/* .animate-variant2 {
  animation:
    blast-out 0.5s ease-out forwards,
    orbit-spin 16s linear infinite;

  animation-delay: 1.34s, 2.2s;
} */






/* Personal Verifiction Flow */

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-hide {
  -ms-overflow-style: none;   /* IE / old Edge */
  scrollbar-width: none;     /* Firefox */
}


/* Dark custom scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;            /* Firefox */
  scrollbar-color: #393935 #000;    /* thumb track */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* no bg color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #EF3AFF, #393935);
  border-radius: 9999px;
}
