@tailwind base;
@tailwind components;
@tailwind utilities;



.btn-main {
  @apply w-full py-3 rounded-xl font-semibold mb-3;
  background: linear-gradient(90deg,#ff4ecd,#ff9f43);
}

.btn-outline {
  @apply w-full py-3 border border-gray-700 rounded-xl mb-3;
}

.input {
  @apply w-full bg-[#111] border border-gray-700 px-4 py-3 rounded-xl mb-6 outline-none;
}

.title {
  @apply text-2xl font-bold text-center mb-6;
}

.otp {
  @apply w-12 h-12 text-center bg-[#111] border border-gray-700 rounded-lg text-xl;
}

/* .animate-variant2 {
  animation:
    blast-out 0.5s ease-out forwards,
    orbit-spin 16s linear infinite;

  animation-delay: 1.34s, 2.2s;
} */






/* Personal Verifiction Flow */

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-hide {
  -ms-overflow-style: none;   /* IE / old Edge */
  scrollbar-width: none;     /* Firefox */
}

